@import url("https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css");
@import url("latte.css");
@import url("mocha.css");
@import url("frappe.css");
@import url("macchiato.css");

.header {
    text-align: center;
    padding: 8px;
}

.unauthinticated {
    padding: 40px;
    text-align: center;
}

.unauthinticated h1 {
    font-size: 30px;
}

.unauthinticated a {
    font-size: 20px;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.exam-list a {
    padding: 6px 10px;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
}

.exam-list li {
    margin: 5px 0;
}

.exam-list b {
    padding: 5px 5px;
    margin: 50px 0;
}

.exam-info p,
.exam-info a {
    padding: 6px 10px;
    margin-right: 2px;
    text-decoration: none;
}